.card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .body-card {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transform-style: preserve-3d;
    align-self: center;
    height: 50vh;
    width: 20vw;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .sneaker {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sneaker img {
    width: 20vh;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 15vh;
    height: 15vh;
    background: linear-gradient(
      to right,
      rgba(242, 165, 232, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
  }
  .info h1 {
    font-size: 150%;
    transition: all 0.75s ease-out;
  }
  .info h3 {
    font-size: 100%;
    // padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    // margin-top: 5rem;
    transition: all 0.75s ease-out;
  }
  .purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: rgb(242, 165, 232);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
  



  .card-1 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 110px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #7f7df9;
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card-1:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card-1 {
  
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }

  .card-11 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 80px;
    grid-template-areas:"text" "stats";
    border-radius: 18px;
    width: 300px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }