<div class="main">
    <div class="module" style="display: flex;">
        <div class="title">
            Profile
        </div>
        <div class="modulebody" style="display: flex;">
            <div class="left" style="display: flex;">
                <div class = "dp">
                    <div class="img-container" style="display: flex;">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2Fdp.jpg?alt=media&token=77bc1a71-9093-4b8b-a94c-4472f75071c9">
                    </div>  
                    <div class="personal" style=" height: fit-content; width: fit-content;font-size: small;"> <p style="font-size: medium;">Diksha Verma</p> <p style="margin-top: -2%;">Instagram         Twitter        Facebook      YouTube</p> <p style="margin-top: -2%;">1703 connections</p> <p style="margin-top: -2%; background-color:#99bcc5; border-radius: 7px;font-size: medium;">#photography      #ad     #product     #films</p> </div> 
                    <div class="bio" style=" height: fit-content; width: fit-content;;font-size:15px;display: flex;justify-content: center;"> I'm a professional photographer looking forward to new proyects, I'm skilled at sports photography, food, real estate, portrait, and event photography, I can deliver outstanding and beautiful images for all purposes. </div>  
                    <div class="contact" style="  height: fit-content; width: fit-content;font-size: small;"> (+91) 9868401648  <p>dikshaverma@gmail.com</p> <p style="margin-top: -2%;">@dikshaaa</p>    </div>
                </div>
            </div>
            <div class="right" style="display: flex; font-size: x-large;">Work Gallery
                <div class="image-container" style="display: flex;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2Fp1.jpg?alt=media&token=a2990d97-30b1-47ad-b0e7-bb1a1fa922e8">
                    <img src="https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2Fp2.jpeg?alt=media&token=bb2ce6b8-2e1e-4548-a318-ab76c9be1b53">
                    <img src="https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2Fp3.jpg?alt=media&token=485b0148-6097-492f-bae8-4f3b94b95b77">
                    <img src="https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2Fp4.jpg?alt=media&token=1419e4f8-2a54-4eef-8253-10ac1e12bbe9">
            </div>
        </div>
    </div>
    <button class="donate" style="display: flex;">Donate</button>
    
</div>