.forgotPassword{
    display: flex;
   
   
    justify-content: space-evenly;
    margin: 10px;
    background: rgba( 189, 16, 224, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30vw;
    height: 40vh;
    align-items: center;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  }

  .card-title{
      display:flex;
      
      flex-direction: column;
      align-items: center;
  }
  .btn-submit {
    margin: 10px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    border: 2px solid hsl(60, 100%, 50%);
    background: #FF10F0;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
}
 
.btn-submit:hover {
    background-color: #FF10F0;
    color: #fff;
    box-shadow: 0 0 5px #FF10F0,
                0 0 20px rgb(100 6 94 / 0.8),
                0 0 35px rgb(100 6 94 / 0.7),
                0 0 50px rgb(100 6 94 / 0.6);
    //border-color: #fff;
 
}
.text-email{
    background: transparent;
    padding: 3%;
    border:transparentize($color: #FF10F0, $amount: 1);
}