<div class="card forgotPassword">
	<div class="card-body">
		<h3 class="card-title">Forgot Password?</h3>
		
		<div class="card-text">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1" style="padding: 3%;">Enter your email address and we will send you a link to reset your password.</label>
					<input type="email" style="padding: 3%;" class="form-control form-control-sm text-email" placeholder="Enter your email address">
				</div>

				<button type="submit" class="btn btn-primary btn-block btn-submit">Send password reset email</button>
			</form>
		</div>
	</div>
</div>